body{
	background:#8eadc5;
}

body.claro{
	background:#8de1bd;
}

body.oscuro{
	background:#577a76;
}

button{
	background:#7fba67;
	color:#fff;
	border:none;
	width:100%;
	padding:30px;
	margin-top:10px;
	font-size:1em;
}

#zona-gestos{
	width: 100%;
	background:#7fba67;
	margin-top:10px;
	min-height: 300px;
	display:block;
}

/*Animacion para doubletap*/
#zona-gestos.doubletap{
	-webkit-animation:pulsacion 1.5s 1; /*nombre, duracion, iteraciones*/
}

@-webkit-keyframes pulsacion{
	0%, 100%{background: #7fba67;}
	50%{background: #8de1bd;}
}

/*Animacion para press*/
#zona-gestos.press{
	-webkit-animation:presion 1.5s 1; /*nombre, duracion, iteraciones*/
}

@-webkit-keyframes presion{
	0%, 100%{background: #7fba67;}
	50%{background: #577a76;}
}

/*Animacion para swipe derecha*/

#zona-gestos.swipe-derecha{
	-webkit-animation:swipe-derecha 3s 1;
}

@-webkit-keyframes swipe-derecha{
	0%, 100%{margin-left: 0%;}
	50%{margin-left: 100%;}
}

/*Animacion para swipe izquierda*/
#zona-gestos.swipe-izquierda{
	-webkit-animation:swipe-izquierda 3s 1;
}

@-webkit-keyframes swipe-izquierda{
	0%, 100%{width: 100%;}
	50%{width: 0%;}
}

/*Animacion para rotate*/
#zona-gestos.rotate{
	-webkit-animation:rotate 3s 1;
}

@-webkit-keyframes rotate{
	100%{-webkit-transform:rotate(360deg);}
}